body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    padding-top: 20px;
    border: 3px solid #f1f1f1;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: rgb(110, 47, 17);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;    
    width: 100%;
}

img {
    width: 30%;
    height: 30%;
    padding-top: 10px;
}


.imgcontainer {
    text-align: center;
}


.container {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
}

.block {
    /* to center */
    width: 50%;
    margin: auto;
    padding-top: 100px;
}

p {
    color: rgb(255, 0, 13);
  }


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 1024px) {
    .enter {
        width: 100%;
    }
    .block {
        /* to center */
        width: 100%;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
    img.logo {
        display: inline-block;
        position: relative;
        top: 0%;
        width: 20%;
        height: 20%;
    }
    .container {
        top: 10px;
        width: 90%;
        height: 100%;
        padding: 0;
        margin-left: 2%;
    }
    form {
        left: 20%;
        border: 0px solid #f1f1f1;
        padding-left: 5%;
    }
    h2 {
        font-size: 100%;
        left: 30%;
        padding-left: 7%;
        margin-top: 6%;
    }
    img.profil {
        width: 50%;
        height: 50%;
        border-radius: 50%;
    }
    
}