th,
td 
{
    /* text-align: center; */
    /* border: 3px solid black; */
    border-collapse: collapse;
}

table{
    border-radius: 25px;
    /* border: 3px solid black; */
    border-collapse: collapse;
}

header{
    font: italic 1.2em "Fira Sans", serif;
    width: 100%;
}
#lable-Home{
    border: none;
    text-align: center;
    padding-top: 20px;
    font: italic 1.2em "Fira Sans", serif;
}

#create{
    /* width: 50%;*/
    text-align: center;
    outline: none;
}

table, tr, td {
    border: none;
    border-collapse: collapse;
}

#ArtistTable{
    width: 80%;
    margin: auto;
    text-align: center;
    border: none; 
    /* border: 1px solid #000000; */
}

#ViewSongs{
    width: 20%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    font: italic 1.2em "Fira Sans", serif;
}
.modal-content{
    width: 100%;
    margin: auto;
}
.modal-title, .modal-body{
    width: 250%;
    margin: auto;
}
#name-group{
    width: 70%;
}
img{
    width: 200px;
}